# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# macOS
.DS_Store

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

# ==========================
# Bytecode
# ==========================
*.pyo
*.pyd

# ==========================
# Render
# ==========================
.render/

# ==========================
# Local Secrets
# ==========================
secrets.json
credentials.json